<style type="text/css"> 

	
	.content h1
	{
		text-align:center;
		font-size:65px;
		text-transform:uppercase;
		font-weight:250;
		color:white;
		padding:1%;
		margin-top:10px;
	}
	.content p
	{
		text-align:center;
		font-size:20px;
		color:white;
		letter-spacing:3px;
		text-transform:uppercase;

	}
	.content h2
	{
		float:right;
		margin-top:55px;
		font-size:20px;
	}

	div#topdiv
	{
		position:fixed;
		top:0px;
		left:0px;
		width:100%;
		background-color:black;
		length:0px;
		height:80px;
		color:white;
	}
	mark 
	{ 
		position:fixed;
		background-color:black;
		color: white;
		top:0px;
		right:0px;
		height:80px;
		
	  
	}
	
	div#bottomdiv
	{
		margin-left:0px;
		margin-top:200px;
		right:0px;
		background-color:yellow;
		padding:8px;
		color:white;
		height:200px;
	
	}
	
	div#middiv
	{
		
		font-size:20px;
		color:white;
		letter-spacing:3px;
		text-transform:lowercase;
		margin-top:250px;
		float:center;
	}
</style>


